/*----------------------------------------------------------Font Styling*/

body {
    font-family: 'Raleway', sans-serif;
}

/*Navbar Styling*/

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

/*----------------------------------------------------------Jumbotron alterations*/

.jumbotron {
    background-color: transparent;
    color: white;
}

.jumbotron-header {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}


/*----------------------------------------------------------Shared Container Attributes*/

.callout-container,
.welcome-container,
.cert-container {
    /*VH = Viewport Height*/
    height: 100vh;
    /*Align the container to centre of the viewport*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.callout-container {
    /*Adding a full width backgroud image*/
    background: url(/images/pexels-photo-1181396_v2.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cert-container {
    width: 100%;
    margin: 0;
    color: white;
    /*Adding a full width backgroud image*/
    background: url(/images/adult-blur-class-239548_v2.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Correction, i've altered the images in photoshop in advance*/

/*background image is too bright apply an overlay to tone it down*/

/*.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
}*/

.welcome-container {
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
}

.welcome-lead {
    font-size:16px;
}

.domain {
    text-align: justify;
    margin-right: 20px;
    margin-left: 20px;

}



.footer-container {
    padding-top: 15px;
}

/*----------------------------------------------------------Buttons Styling*/

.btn--cta {
    font-weight: bold;
    width: 190px;
    border-radius: 22px;
}

.btn--red {
    color: white;
    background-color: #CFD0D6;
    border-color: #CFD0D6;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #7D7D7E;
    border-color: #7D7D7E;
}

/*----------------------------------------------------------Block Dividers*/

.block-divider {
    height: 6px;
    border: 0;
    background-color: white;
}

.block-divider--short {
    width: 100px;
}

/*----------------------------------------------------------Font Alterations*/

.callout-lead {
    color: #d7dce2;
    font-size: 35px;
}

.callout-lead-small {
    color: #d7dce2;
    font-size: 30px;
}

.uppercase {
    text-transform: uppercase;
}
