/*----------------------------------------------------------Font Styling*/

body {
    font-family: 'Raleway', sans-serif;
}

/*Navbar Styling*/

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    border: 0;
}

/*----------------------------------------------------------Jumbotron alterations*/

.main-jumbo,
.tech-jumbo,
.prof-jumbo,
.soft-jumbo,
.contact-jumbo {
    background-color: transparent;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
}

.jumbotron-header {
    /*font-size: 50px;*/
    font-weight: bold;
    margin-bottom: 30px;
}


/*----------------------------------------------------------Shared Container Attributes*/

.callout-container,
.welcome-container,
.cert-container {
    /*VH = Viewport Height*/
    height: 100vh;
    width: 100%;
    /*Align the container to centre of the viewport*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.callout-container {
    /*Adding a full width backgroud image*/
    background: url(../images/pexels-photo-1181396_v2.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cert-container {
    /*width: 100%;*/
    margin: 0;
    color: white;
    /*Adding a full width backgroud image*/
    background: url(../images/adult-blur-class-239548_v2.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.welcome-container {
    background-color: #d9d9d9;
}

.welcome-header {
    margin: 0;
    height: 25vh;

}

.welcome-lead {
    font-size: 20px;
}

.welcome-lead-small {
    font-size: 15px;
}

.domain {
    text-align: justify;
    margin-right: 20px;
    margin-left: 20px;

}

.domain i {
    margin-bottom: 10px;
    font-size: 45px;
    line-height: 45px;
    text-align: center;

}

.footer-container {
    padding-top: 15px;
    background-color: #75796D;
    width: 100%;
}

/*----------------------------------------------------------Buttons Styling*/

.btn--cta {
    font-weight: bold;
    width: 190px;
    border-radius: 22px;
}

.btn--red {
    color: white;
    background-color: #CFD0D6;
    border-color: #CFD0D6;
}

.btn--black {
    color: white;
    background-color: #000000;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #7D7D7E;
    border-color: #7D7D7E;
}

.btn--course {
    font-weight: bold;
    border-radius: 22px;
    /*width: 80vw;*/
}

/*----------------------------------------------------------Block Dividers*/

.block-divider {
    height: 6px;
    border: 0;
    background-color: white;
    width: 80%;
}

.block-divider--short {
    width: 100px;
}

/*----------------------------------------------------------Font Alterations*/

.callout-lead {
    color: #d7dce2;
    font-size: 35px;
}

.callout-lead-small {
    color: #d7dce2;
    font-size: 25px;
}

.uppercase {
    text-transform: uppercase;
}

.contact-lead {
    color: #404040;
    font-size: 35px;
}

.contact-lead-small {
    color: #404040;
    font-size: 30px;
}

.contact-details {
    padding-top: 30px;
    font-size: 25px;
}

.tech-lead {
    color: #d7dce2;
    font-size: 30px;
}

.prof-lead {
    color: #363B40;
    font-size: 30px;
}

.org-lead {
    font-size: 20px;
}


/*----------------------------------------------------------Footer alterations*/

.social-links li a i {
    width: 45px;
    height: 45px;
    padding: 20px 0;
    /*if you set the border-radius to 50% when something has equal height and width, then you get a circle.*/
    border-radius: 50%;
    font-size: 25px;
    line-height: 7px;
    vertical-align: middle;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


.social-links li a i:hover {
    background: #696373;

}

.social-links {
    padding-bottom: 15px;
}

/*----------------------------------------------------------Certification Section*/

.partners {
    text-align: center;
}

.partner1,
.partner2,
.partner3,
.partner4 {
    background-size: cover;
    position: relative;
    padding: 10px;
}

.partner1:hover .overlay-effect,
.partner2:hover .overlay-effect,
.partner3:hover .overlay-effect,
.partner4:hover .overlay-effect {
    opacity: 1;
    cursor: pointer;
}

.overlay-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(126, 138, 148, 0.3);
    overflow: hidden;
}

.partner1 a,
.partner2 a,
.partner3 a,
.partner4 a {
    color: #fff;
    text-decoration: none;
}

.partner1 h3,
.partner2 h3,
.partner3 h3,
.partner4 h3 {
    padding: 15px 30px;
}

.partner1 img,
.partner2 img,
.partner3 img,
.partner4 img {

    width: 100%
}

/*---------------------------------------------------------- Page Containers*/

.tech-container,
.cisco-container,
.nokia-container,
.cyber-container,
.prof-container,
.manage-container,
.org-container,
.soft-container,
.contact-container,
.vod-container {
    /*VH = Viewport Height*/
    height: 100vh;
    width: 100%;
    /*Align the container to centre of the viewport*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tech-container {
    /*Adding a full width backgroud image*/
    background: url(../images/Networking_dark.jpg) no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.prof-container {
    padding-right: 0px;
    padding-left: 0px;
    background: url(../images/prof_light_v2.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.soft-container {
    padding-right: 0px;
    padding-left: 0px;
    background: url(../images/soft-skills_light.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-container {
    padding-right: 0px;
    padding-left: 0px;
    background: url(../images/contact_light.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.cisco-container,
.vod-container {
    background-color: #3E4C4F;
}

.nokia-container,
.org-container,
.personal-container,
.contactForm-container {
    background-color: #5B635A;
}

.contactForm-container {
    padding: 10px 30px 10px 30px;
}

.cyber-container,
.manage-container {
    background-color: #A5B8B4;
}

.cisco-container img {
    padding: 25px;
}

.cisco-button,
.nokia-button,
.cyber-button {
    padding: 10px 20px 10px 20px;
}

.hide {
    display: none;
}

.progress-label {
    color: #555673;
    padding-left: 10px;
}

.cisco-jumbotron,
.nokia-jumbotron,
.cyber-jumbotron,
.manage-jumbotron,
.org-jumbotron,
.personal-jumbotron,
.contact-jumbotron,
.video-jumbotron {
    /*Adding a full width backgroud image*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 10px;
    padding-right: 10px;
}

.cisco-jumbotron {
    /*Adding a full width backgroud image*/
    background: url(../images/cisco_net_light.jpg) no-repeat top left fixed;
}

.nokia-jumbotron {
    /*Adding a full width backgroud image*/
    background: url(../images/nokia_net_light.jpg) no-repeat center center fixed;
}

.cyber-jumbotron {
    /*Adding a full width backgroud image*/
    background: url(../images/cybersec_light.jpg) no-repeat center center fixed;
}

.manage-jumbotron {
    margin-top: 20px;
    /*Adding a full width backgroud image*/
    background: url(../images/manage-light.jpg) no-repeat center center fixed;
}

.org-jumbotron {
    /*Adding a full width backgroud image*/
    background: url(../images/org-change_light.jpg) no-repeat center center fixed;
}

.personal-jumbotron {
    margin-top: 20px;
    /*Adding a full width backgroud image*/
    background: url(../images/personal-jumbo.jpeg) no-repeat bottom center fixed;
}

.contact-jumbotron {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /*Adding a full width backgroud image*/
    background: url(../images/contact_us_form_bg.jpg) no-repeat center center fixed;
}

.video-jumbotron {
    margin-top: 20px;
    /*Adding a full width backgroud image*/
    background: url(../images/video_jumbo.jpg) no-repeat bottom center fixed;
}

.details {
    font-size: 20px;
}



/*----------------------------------------------------------Modal Edits*/

/*Modal background*/

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    /*navbar has a z-index of 1030, so in order to make the modal backdrop overlay on this, we need to set the z-index to less than this*/
    z-index: 1020;
    width: 100vw;
    height: 100vh;
    background-color: #A5B8B4;
}

/*----------------------------------------------------------Carosel Edits*/

.carousel {
    text-align: -webkit-center;
}

.carousel-inner {
    width: 100%;
}

.carousel-item {
    text-align: center;
}

.carousel-inner img {
    width: 40%;
    margin: auto;
}

.carousel-item a {
    padding: 20px;
}

/*----------------------------------------------------------Video */

.video-content {
    height: 75%;
    width: 75%;
}

.video-item {
    display: block;
    margin: 0 auto;
}


.video-content{
    position:relative;
    max-width:800px;
    margin:0 auto;
}

.video-content iframe{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    width:100%;
}
